<div class="margin">
    <div >
        <p class="name">Contact Us</p>
        <h4>Leave some message....</h4>
    </div>
    <form>
  
      <label for="name">Name</label>
      <input type="text" id="name" name="name" placeholder="Your name..">
  
      <label for="mailid">Mail Id</label>
      <input type="text" id="mailid" name="mailid" placeholder="Your mail id..">
  
      <label for="subject">Subject</label>
      <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
  
      <input type="submit" value="Submit">
  
    </form>
  </div>
