.card{
    width: 30%;
    height: 20%;
    margin-left: 35%;
    text-align: center;
}
.card-body{
    /* margin-left: 30%;
    font-size: 25px;
    width: 30%; */
    text-align: center;
    font-weight: 600;
}

.alignname{
    text-align: left;
}

.font{
    font-size: x-large;
}