<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="login-box" *ngIf="!isLoading" >
	<div class="login-header">Login</div>
	<div class="login-body">
        <div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <label class="fa fa-user-o">&nbsp;Username</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="text" #u>
        </div>
        <br>
        <div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <label class="fa fa-key">&nbsp;Password</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="password"  #p>
        </div>
        <br>                
        <input type="submit" value="Login" (click)="login(u.value,p.value)" class=" btn btn-success " style="margin-left:200px" >
        <button class=" btn btn-success " style="float: right;" (click)="Register()">Register</button>
    </div>
</div>
<div *ngIf="isLoading" style="text-align:center">
    <app-loading-spinner></app-loading-spinner>
</div>