
<div class="login-box" >
	<div class="login-header">Login</div>
	<div class="login-body">
        <div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <label>Username</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="text" #u>
        </div>
        <br>
        <div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <label>Password</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="password"  #p>
        </div>
        <br>                
        <input type="submit" value="Login" (click)="login(u.value,p.value)" class=" btn btn-success " style="margin-left:200px" >
        <button class=" btn btn-success " style="float: right;" (click)="Register()">Register</button>
	</div>
</div>