.login{
margin: 40px 0px 20px 40px;


}
.box{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin:15% 0% 0% 35%;
    width: 25%;
    height: 170px;
    background-color: darkseagreen;
}