<div><h2 style="text-align: center;">User Details</h2></div>
<div class="search">
    <input [(ngModel)]="searchString">&nbsp;
    <button [disabled]="searchString.length<2" (click)=search(searchString) [style.background-color]="(searchString.length>1)? 'mediumspringgreen':''" class="btn btn-success">Search</button>
    <br><button *ngIf="searchString.length>0" class="btn btn-default" style="float: right;margin-top: 2px;"(click)=clearFilters()>clear</button>
</div>
<div class="table">
    <table>
        <thead class="tableHead">
            <tr>
                <th>S.No</th>
                <th>Name  <span *ngIf="decending" class="glyphicon glyphicon-chevron-up" (click)="sort('username')"></span><span *ngIf="! decending"class="glyphicon glyphicon-chevron-down" (click)="sort('username')"></span></th>
                <th>Role <span *ngIf="decending" class="glyphicon glyphicon-chevron-up" (click)="sort('role')"></span><span *ngIf="! decending"class="glyphicon glyphicon-chevron-down" (click)="sort('role')"></span></th>
                <th>Mail ID <span *ngIf="decending" class="glyphicon glyphicon-chevron-up" (click)="sort('mailId')"></span><span *ngIf="! decending"class="glyphicon glyphicon-chevron-down" (click)="sort('mailId')"></span></th>
                <th>IsActive <span *ngIf="decending" class="glyphicon glyphicon-chevron-up" (click)="sort('isActive')"></span><span *ngIf="! decending"class="glyphicon glyphicon-chevron-down" (click)="sort('isActive')"></span></th>
                <th>Contact </th>
                <th></th>
            </tr>            
        </thead>
        <tbody>
            <tr *ngFor="let k of users ; index as i">
                <td>{{i+1}}</td>
                <td>{{k.username}}</td>
                <td>{{role(k.role)}}</td>
                <td>{{k.mailId}}</td>
                <td >{{IsActiveName(k.isActive)}}</td>
                <td>{{k.phoneNo}}</td>
                <td><a class ="glyphicon glyphicon-edit" title="Edit" (click)=editUser(k.userId)></a> &nbsp;<a class="glyphicon glyphicon-remove" (click)=deleteUser(k.userId,k.username) title="Delete"></a></td>
            </tr>            
        </tbody>        
    </table>
    <div *ngIf="users.length<1" style="margin-left: 450px;top: 10px;">
        <p>No records Found . If you have applied any filters please Modify.</p>
    </div>
</div>
