<div class="search">
    <input [(ngModel)]="searchString">&nbsp;
    <button class="btn btn-success" [disabled]="searchString.length<2" (click)=search(searchString) [style.background-color]="(searchString.length>1)? 'mediumspringgreen':''">Search</button>
    <button *ngIf="searchString.length>0" style="margin-top: 2px;" (click)=clearFilters()>clear</button>
    <button  style="float: right;margin-right: 5%;" class="btn btn-success" (click)="lendingBook()" [disabled]="disablebtn()">Lend Book</button>
</div>
<div class="table">
    <table>
        <thead class="tableHead">
            <tr>
                <th></th>
                <th>S.No</th>
                <th>Book Id  <span *ngIf="decending" class="glyphicon glyphicon-chevron-up" (click)="sort('id')"></span><span *ngIf="! decending"class="glyphicon glyphicon-chevron-down" (click)="sort('id')"></span></th>
                <th>Name  <span *ngIf="decending" class="glyphicon glyphicon-chevron-up" (click)="sort('name')"></span><span *ngIf="! decending"class="glyphicon glyphicon-chevron-down" (click)="sort('name')"></span></th>
                <th>Author <span *ngIf="decending" class="glyphicon glyphicon-chevron-up" (click)="sort('author_name')"></span><span *ngIf="! decending"class="glyphicon glyphicon-chevron-down" (click)="sort('author_name')"></span></th>
                <th>Edition <span *ngIf="decending" class="glyphicon glyphicon-chevron-up" (click)="sort('edition')"></span><span *ngIf="! decending"class="glyphicon glyphicon-chevron-down" (click)="sort('edition')"></span></th>
                <th>Price <span *ngIf="decending" class="glyphicon glyphicon-chevron-up" (click)="sort('price')"></span><span *ngIf="! decending"class="glyphicon glyphicon-chevron-down" (click)="sort('price')"></span></th>
                <th>Publisher <span *ngIf="decending" class="glyphicon glyphicon-chevron-up" (click)="sort('publisher')"></span><span *ngIf="! decending"class="glyphicon glyphicon-chevron-down" (click)="sort('publisher')"></span></th>
                <th>Genres <span *ngIf="decending" class="glyphicon glyphicon-chevron-up" (click)="sort('genres')"></span><span *ngIf="! decending"class="glyphicon glyphicon-chevron-down" (click)="sort('genres')"></span></th>
                <th>Contact </th>
                <th>Published Date <span *ngIf="decending" class="glyphicon glyphicon-chevron-up" (click)="sort('publishedDate')"></span><span *ngIf="! decending"class="glyphicon glyphicon-chevron-down" (click)="sort('publishedDate')"></span></th>
                <th>Copies <span *ngIf="decending" class="glyphicon glyphicon-chevron-up" (click)="sort('copies')"></span><span *ngIf="! decending"class="glyphicon glyphicon-chevron-down" (click)="sort('copies')"></span></th>
                <th></th>
            </tr>            
        </thead>
        <tbody *ngIf="!isLoading">
            <tr  *ngFor="let k of books ; index as i">
                <td><label class="container">
                    <input type="checkbox" value="{{k.id}}" (change)="BookChange($event)" [checked]="selectedBook.indexOf(k.id)!=-1" [disabled]="disableCheckbox(k.copies)">
                    <span class="checkmark"></span>
                  </label></td>
                <td>{{i+1}}</td>
                <td>{{k.id}}</td>
                <td>{{k.name}}</td>
                <td>{{k.author_name}}</td>
                <td>{{k.edition}}</td>
                <td>{{k.price}}</td>
                <td>{{k.publisher}}</td>
                <td>{{k.genres}}</td>
                <td>{{k.contact}}</td>
                <td>{{k.publishedDate | date}}</td>                
                <td>{{k.copies}}</td>
            </tr>
        </tbody>      
    </table>
    <div *ngIf="!isLoading">
        <div *ngIf="books.length<1" style="margin-left: 450px;top: 10px;">
            <p>No records Found . If you have applied any filters please Modify.</p>
        </div>
    </div>
</div>
<div *ngIf="isLoading" style="text-align: center;">
    <app-loading-spinner></app-loading-spinner>
</div> 


