<div class="navBar" >
    <nav >
        <a >Library</a>&nbsp;
        <a routerLink="/main/home" routerLinkActive="active">Home</a>&nbsp;
        <a routerLink="/main/user/userViewBooks" routerLinkActive="active">Books</a>&nbsp;
        <a *ngIf="isAdmin" routerLink="/main/Admin/ViewBooks" routerLinkActive="active">Admin</a>  
        <a (click)='logout()' style="float: right;">LogOut</a> 
        <p class="user">welcome {{username}}</p>
        <a  style="float: right;">Contact</a>        
                 
    </nav>
    
</div>
<div>
    <router-outlet></router-outlet>
</div>

