<div class="navBar" >
    <!-- <nav >
        <a >Library</a>&nbsp;
        <a routerLink="/main/home" routerLinkActive="active">Home</a>&nbsp;
        <a routerLink="/main/user/userViewBooks" routerLinkActive="active">Books</a>&nbsp;
        <a *ngIf="isAdmin" routerLink="/main/Admin/ViewBooks" routerLinkActive="active">Admin</a>  
        <a (click)='logout()' style="float: right;">LogOut</a> 
        <p class="user">welcome {{username}}</p>
        <a  style="float: right;">Contact</a>        
                 
    </nav> -->
    <ul>
        <li><a>Library</a></li>
        <li><a routerLink="/main/home" routerLinkActive="active">Home</a></li>
        <li><a *ngIf="isUser || isAdminUser" routerLink="/main/user/userViewBooks" routerLinkActive="active">Books</a></li>
        <li><a *ngIf="isAdmin || isAdminUser" routerLink="/main/Admin/ViewBooks" routerLinkActive="active">Admin</a></li>
        <li><a>Contact</a></li>
        <li style="float: right;"><a (click)='logout()' >Logout</a></li>
        <li class="user">Welcome {{username}}</li>
        
      </ul>
    
</div>



  <div>
    <router-outlet></router-outlet>
</div>


